 // ----------------------------------------------------------------------------
// Widget Styles
// ----------------------------------------------------------------------------
.widget-server-status-squares {
  background-color: transparent;
  vertical-align: top;
 
  .title {
    color: rgba(255, 255, 255, 0.9);
    font-size: 45px;
  }
 
  .more_info {
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    
  }


  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }


}