<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [300, 245]
  Dashing.numColumns = 6
});
</script>
<% content_for :title do %>GPW dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="URS" data-view="ServerStatusSquares" data-width="100%"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="PKO" data-view="ServerStatusSquares" data-width="100%"></div>
    </li>
        <li data-row="1" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id="APR" data-view="ServerStatusSquares" data-width="100%"></div>
    </li>
        <li data-row="3" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="JSW" data-view="ServerStatusSquares" data-width="100%"></div>
    </li>
        <li data-row="3" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="KGH" data-view="ServerStatusSquares" data-width="100%"></div>
    </li>
        <li data-row="3" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id="PKN" data-view="ServerStatusSquares" data-width="100%"></div>
    </li>
	<div data-id="reload" data-view="Reload" data-title="Reload" style="display: none"></div>
  </ul>
</div>
